@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Cadastro de Jogadores</h1>
    <p>Este sistema permite o cadastro de jogadores e times para eSports.</p>

    <img height="250px" src="https://www.kindpng.com/picc/m/717-7178642_transparent-esports-logo-png-logo-esports-png-png.png" alt="eSports Logo" />

</div>
